@model IEnumerable<Movie>

<table class="table table-striped table-hover table-borderless my-5">
    <thead>
        <tr>
            <th>Img</th>
            <th>ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Directors name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Movie movie in Model)
        {
         <tr>
             <td><img src="@movie.ImageUrl" alt="Movie picture" style="width: 50px; height:50px;"></td>
             <td>@movie.Id</td>
             <td>@movie.Title</td>
             <td>@movie.ReleaseDate</td>
             <td>@movie.Director.Name</td>
             <td><a class="btn btn-success" asp-controller="Rental" asp-action="RentMovie" asp-route-movieId="@movie.Id">Rent</a></td>
         </tr>
        }
    </tbody>
</table>