@model Director

    <div class="col-md-4">
        <div class="card mr-5 mb-5">
            <div class="card-header">
                <h5>@Model.Name</h5>
            </div>
            <div class="card-body">
                <h2 class="card-title">Movie count: @Model.Movies?.Count</h2>
                <div class="btn-group">
                    <a class="btn btn-primary mr-3" asp-controller="Movie" asp-action="Index" asp-route-authorId="@Model.Id">Movie list</a>
                    <a class="btn btn-info mr-3" asp-controller="Director" asp-action="Update" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Director" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                </div>
            </div>
        </div>
    </div>